<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 실패</title>
    <script type="text/javascript">
        window.onload = function() {
            // 경고창 띄우기
            alert("정지되었습니다. 관리자에게 문의하세요");

            // 경고창이 뜬 후 2초 뒤에 루트 페이지로 리디렉션
            setTimeout(function() {
                window.location.href = "/";
            }, );
        };
    </script>
</head>
<body>
</body>
</html>